<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.yougotadoodle"
        versionCode = "11" 
        version     = "1.1.0" >

    <name>You Got A Doodle!</name>

    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="108330069340139" />
        <param name="APP_NAME" value="yougotadoodle" />
    </gap:plugin>
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <description>
        Send doodles to your friends!
    </description>

    <preference name="permissions" value="none"/>

    <icon src="img/doodlehi114.png"/>
    <icon src="img/doodlehi57.png"  gap:platform="ios" width="57"  height="57"  />
    <icon src="img/doodlehi72.png"  gap:platform="ios" width="72"  height="72"  />
    <icon src="img/doodlehi114.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/doodlehi144.png" gap:platform="ios" width="144" height="144" />

    <access origin="*"  />
    <access origin="http://yougotadoodle.appspot.com"  />
    <access origin="https://yougotadoodle.appspot.com"  />

</widget>
